

.accountWrapper > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.accountWrapper div > form,
.accountWrapper div > div {
  display: flex;
  flex-direction: column;
  background-image: url(https://media4.giphy.com/media/JoVV55m3KZHdxlpFZ6/giphy.gif?cid=ecf05e47z3vz8buneyfzyctbusvjf24njwevx0y6a17cvnve&rid=giphy.gif);
  color: white;
  background-color: rgb(169, 74, 26);
}

.login {
  width: 20vw;
  margin: 0.5rem;
}

.sign_in{
  text-align: center;
  
}
