@font-face {
  font-family: "Pacifico-Regular";
  src: url(./Pacifico-Regular.ttf);
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: gray;
}

h3,
h2,
p,
span {
  margin-left: 0.5rem;
}

button {
  cursor: pointer;
  transition: 0.3s;
}

.welcome_message{
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
