.itemWrapper {
  border: 1px solid rgba(128, 128, 128, 0);
  width: 25%;
  height: 40vw;
}

.itemWrapper:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid rgba(128, 128, 128, 0.5);
  cursor: pointer;
}

.itemImg {
  object-fit: cover;
  width: 95%;
  height: 70%;
  overflow: hidden;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
