.searchWrapper {
  width: 100%;
  display: flex;
  margin: 0.5rem 1rem;
}

.searchbar:hover {
  background-color: gray;
  transition: 0.3s;
}

.searchbar {
  border: 1px solid black;
  font-size: larger;
  flex-grow: 1;
  outline: 0;
  padding-left: 0.5rem;
  background-color: white;
  height: 50px;
}

.searchDropdown {
  flex-grow: 0;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}

.searchBtn {
  flex-grow: 0;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
